<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easygo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="32" />
    package="EasyGo.com.Splash">
    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:debuggable="true"
        android:icon="@drawable/icon4"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon4"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar" >
        <activity
            android:name="com.example.easygo.Splash"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.easygo.Keeper"
            android:exported="false" />
        <activity
            android:name="com.example.easygo.StudentHis"
            android:exported="false" />
        <activity
            android:name="com.example.easygo.VerifHis"
            android:exported="false" />
        <activity
            android:name="com.example.easygo.Verifier1"
            android:exported="false" />
        <activity
            android:name="com.example.easygo.Verifier"
            android:exported="false" />
        <activity
            android:name="com.example.easygo.Student1"
            android:exported="false" />
        <activity
            android:name="com.example.easygo.Student"
            android:exported="false" />
        <activity
            android:name="com.example.easygo.MainActivity3_3"
            android:exported="false"
            android:label="EasyGo"
            android:parentActivityName="com.example.easygo.MainActivity2" />
        <activity
            android:name="com.example.easygo.MainActivity3_2"
            android:exported="false"
            android:label="EasyGo"
            android:parentActivityName="com.example.easygo.MainActivity2" />
        <activity
            android:name="com.example.easygo.MainActivity3_1"
            android:exported="false"
            android:label="EasyGo"
            android:parentActivityName="com.example.easygo.MainActivity2" />
        <activity
            android:name="com.example.easygo.MainActivity2"
            android:exported="false"
            android:label="EasyGo"
            android:parentActivityName="com.example.easygo.MainActivity" />
        <activity
            android:name="com.example.easygo.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="com.example.easygo.androidx-startup"
            android:exported="false" >
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>